:root {
  --green-400: #46c767;
  --green-300: #52f57b;
  --orange-300: #ffbb33;

  --red-300: #ff2a2a;

  --white: #fff;
  --black: #111;
  --black-100: #222;
  --black-500: #aaa;
  --black-700: #ddd;
}
