<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% block title %}{% endblock %}
        - NoteInvader</title>
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/utils/fonts.css') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/utils/reset.css') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/utils/colors.css') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/base.css') }}" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        <a class="floating_button" href="{{ url_for("templates.search") }}">
            <img alt="search"
                 class="floating_button_icon"
                 src="{{ url_for('static', filename='images/search.svg') }}" />
        </a>
        {% if request.endpoint not in endpoints_with_no_navbar %}
            <nav id="navigation_bar" class="navbar">
                <a href="/" title="NoteInvader">
                    <img alt="logo"
                         class="navbar_logo"
                         src="{{ url_for('static', filename='logo.svg') }}" />
                </a>
                {% if current_user.is_authenticated %}
                    <form class="navbar_search"
                          action="{{ url_for("templates.search") }}"
                          method="get">
                        <input class="navbar_search_input"
                               id="navbar_search_input"
                               type="text"
                               name="q"
                               placeholder="Search for some music..."
                               required
                               onkeyup="syncSearchBoxes(true)"
                               value="{% if request.endpoint =='templates.search' and query %}{{ query }}{% endif %}" />
                        <button class="navbar_search_button" type="submit">
                            <img alt="search"
                                 class="navbar_search_icon"
                                 src="{{ url_for('static', filename='images/search.svg') }}" />
                        </button>
                    </form>
                {% endif %}
                <div class="navbar_links">
                    {% if current_user.is_authenticated %}<p class="greeter">Hello, {{ current_user.name }}!</p>{% endif %}
                    <a class="navbar_link" href="/">Home</a>
                    {% if current_user.is_authenticated %}
                        <a class="navbar_link"
                           href="{{ url_for("templates.user",username=current_user.username) }}">Profile</a>
                        <a class="navbar_link" href="{{ url_for("auth.logout") }}">Logout</a>
                        <a href="{{ url_for("templates.user",username=current_user.username) }}">
                            <img class="navbar_link_icon"
                                 src="{{ url_for('static', filename='images/user.svg') }}"
                                 alt="profile" />
                        </a>
                        <a href="{{ url_for("auth.logout") }}">
                            <img class="navbar_link_icon"
                                 src="{{ url_for('static', filename='images/logout.svg') }}"
                                 alt="logout" />
                        </a>
                    {% else %}
                        <a class="navbar_link" href="{{ url_for("auth.login") }}">Login</a>
                        <a href="{{ url_for("auth.login") }}">
                            <img class="navbar_link_icon"
                                 src="{{ url_for('static', filename='images/login.svg') }}"
                                 alt="login" />
                            <a class="navbar_link" href="{{ url_for("auth.signup") }}">Signup</a>
                            <a href="{{ url_for("auth.signup") }}">
                                <img class="navbar_link_icon"
                                     src="{{ url_for('static', filename='images/signup.svg') }}"
                                     alt="signup" />
                            </a>
                        {% endif %}
                    </div>
                </nav>
            {% endif %}
            {% block content %}{% endblock %}
            {% block scripts %}{% endblock %}
            <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        </body>
    </html>
