{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/search.css') }}" />
{% endblock %}
{% block title %}Search{% endblock %}
{% block content %}
    <main class='search_page {{ classname }}'>
        {% if not has_query %}
            <h1>Search for an album or an artist</h1>
            <form class="search_form"
                  action="{{ url_for("templates.search") }}"
                  method="get">
                <input class="search_input"
                       id="search_input"
                       type="text"
                       name="q"
                       placeholder="Search here..."
                       required
                       onkeyup="syncSearchBoxes(false)"
                       value="{% if query %}{{ query }}{% endif %}" />
                <button class="search_button" type="submit">
                    <img alt="search"
                         class="search_icon"
                         src="{{ url_for('static', filename='images/search.svg') }}" />
                </button>
            </form>
        {% endif %}
        {% if has_query %}
            <h1>
                Search results for <span class="query_reminder">{{ query }}</span>
            </h1>
            <div id="results" class="search_results">
                {% for album in results['albummatches'] %}
                    <div class="search_result" id="{{ album['_id'] }}">
                        <img class="search_result_image"
                             src="{{ album['image'][3]['#text'] }}"
                             alt="{{ album['name'] }}" />
                        <div class="search_result_info">
                            <div class="search_result_artist_title">
                                <h2 class="search_result_title">{{ album['name'] }}</h2>
                                <p class="search_result_artist">{{ album['artist'] }}</p>
                            </div>
                            <div class="search_result_footer">
                                <button class="search_result_favorite"
                                        {% if current_user.favorite_albums is not none and album['_id']|is_in_favorites(current_user.favorite_albums) %}data-checked="true"{% endif %}
                                        onclick="toggleFavorite('{{ album['_id'] }}')"></button>
                                <p class="search_result_stars">
                                    {% if 'stars' in album %}
                                        {{ album['stars'] }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', filename='js/search.js') }}"></script>{% endblock %}
